.vscode/
workspace
.idea/
# build output
/hive

# build output for rust simulators and hivesim-rs files
simulators/**/Cargo.lock
simulators/**/target
hivesim-rs/Cargo.lock
hivesim-rs/target
