go 1.18

use (
	.
	./hiveproxy
	./optimism
	./simulators/devp2p
	./simulators/eth2/engine
	./simulators/eth2/testnet
	./simulators/ethereum/consensus
	./simulators/ethereum/engine
	./simulators/ethereum/graphql
	./simulators/ethereum/rpc
	./simulators/ethereum/rpc-compat
	./simulators/ethereum/sync
	./simulators/optimism/l1ops
	./simulators/optimism/p2p
	./simulators/optimism/rpc
	./simulators/smoke/clique
	./simulators/smoke/genesis
	./simulators/smoke/network
)

replace github.com/ethereum/go-ethereum v1.10.21 => github.com/ethereum-optimism/op-geth v0.0.0-20220907143004-2aacc679d638